@using _2024_25_Süper_Lig_Kit.WebUI.Entities
@model List<Team>
@{

}




@{
    ViewData["Title"] = "Team Index";
}

<h2>Team Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Logo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
       
        <tr>
            <td>@item.TeamId</td>
            <td>@item.Name</td>
                <td>
                    <img src="@item.Logo" alt="@item.Name Logo" width="100" height="100" />
                </td>
                <td>
                <a href="/Team/Update/@item.TeamId" class="btn btn-primary">Update</a>
                <a href="/Jersey/Index/@item.TeamId" class="btn btn-primary">Formalar</a>
                <a href="/Match/Index/@item.TeamId" class="btn btn-primary">Maçlar</a>
                    <a href="/Match/GetMatchesByTeam?id=@item.TeamId" class="btn btn-primary">Maçlar yan yana</a>
            </td>
        </tr>

        }
    </tbody>
</table>

<a href="/Team/Create" class="btn btn-success">Create New Team</a>


