<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Sidebar </div>
    <div class="list-group list-group-flush">
        <a href="/" class="list-group-item list-group-item-action bg-light">Home</a>
        <a href="/Team" class="list-group-item list-group-item-action bg-light">Teams</a>
        <a href="/Jersey" class="list-group-item list-group-item-action bg-light">Jerseys</a>
        <a href="/Match" class="list-group-item list-group-item-action bg-light">Matches</a>
        <a href="/Referee" class="list-group-item list-group-item-action bg-light">Referees</a>
        <a href="/Match/CrossTable" class="list-group-item list-group-item-action bg-light">CrossTable</a>
        <a href="/Match/TeamsDownByDown" class="list-group
-item list-group-item-action bg-light">TeamsDownByDown</a>
        <a href="/Match/TeamsDownByDownGK" class="list-group
-item list-group-item-action bg-light">TeamsDownByDownGK</a>
        <a href="/Match/RefWeek" class="list-group-item list-group-item-action bg-light">RefWeek</a>
    </div>
</div>
